{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
    <script src="/js/cart.js"></script>
{% endblock %}

{% block content %}

    <label>
        <input type="text" placeholder="Поиск" class="search-field">
    </label>
    <div class="navbar">
        <div class="categories">
            {% for section in sections|keys %}
                <a href="#{{ section|replace({' ': '_'}) }}" class="categories__element">{{ section }}</a>
            {% endfor %}
        </div>
        <a href="{{ (user ?? null) ? "/cart" : "javascript:showForm(loginFormHTML, submitLogin);" }}" class="filled-button">Корзина</a>
    </div>
    {% for section, products in sections %}
        <section class="section" id="{{ section|replace({' ': '_'}) }}">
            <h3 class="section__title">{{ section }}</h3>
            <div class="products">
                {% for product in products %}
                    <a class="product" href="javascript:showProductCard('product_{{ product.id }}')" id="product_{{ product.id }}">
                        <div class="product__image" style="background-image: url('/uploads/{{ product.image }}');"></div>
                        <div class="product__info">
                            <h4 class="product__name">{{ product.name }}</h4>
                            <div class="product__full-description">
                                <span class="product__ingredients">{{ product.ingredients }}</span>
                                <span class="product__description">{{ product.description }}</span>
                            </div>
                            <div class="product__buy">
                                <span class="product__price">{{ product.price }}₽</span>
                                {% if user ?? null %}
                                    <button class="product__cart-button unfilled-button" onclick="event.preventDefault(); addToCart('{{ product.id }}');">В корзину</button>
                                {% else %}
                                    <button class="product__cart-button unfilled-button" onclick="event.preventDefault(); showForm(loginFormHTML, submitLogin);">В корзину</button>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
    <script src="/js/popup.js"></script>
    <script src="/js/popup-form.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/product-card.js"></script>
{% endblock %}
