<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/svg" href="/favicon.svg"/>
    <script src="/js/cart.js"></script>
</head>
<body>
<header>
    <div class="header__container">
        <div class="heading">
            <img src="/img/logo.svg" alt="<Пхпицца>" class="logo">
            <span class="subtitle">для тех, кто увлечён своим делом</span>
        </div>
        <nav class="top-panel">
            <span class="top-panel__element city">г. Йошкар-Ола</span>
            <a class="top-panel__element user">
                <span class="user__name">{{ user.firstName ?? "" }}</span>
                <img src="/img/{{ user.avatar ?? "user-avatar.png" }}" alt="user.firstName" class="user__avatar">
            </a>
        </nav>
    </div>
</header>
<main>
    <label>
        <input type="text" placeholder="Поиск" class="search-field">
    </label>
    <div class="navbar">
        <div class="categories">
            {% for section in sections|keys %}
                <a href="#{{ section|replace({' ': '_'}) }}" class="categories__element">{{ section }}</a>
            {% endfor %}
        </div>
        <a href="{{ (user ?? null) ? "/cart" : "javascript:showForm(loginFormHTML, submitLogin);" }}" class="filled-button">Корзина</a>
    </div>
    {% for section, products in sections %}
        <section class="products-section" id="{{ section|replace({' ': '_'}) }}">
            <h3 class="products-section__title">{{ section }}</h3>
            <div class="products">
                {% for product in products %}
                    <a class="product" href="{{ path("show_product", {id: product.id}) }}">
                        <div class="product__image" style="background-image: url('/uploads/{{ product.image }}');"></div>
                        <div class="product__info">
                            <h4 class="product__name">{{ product.name }}</h4>
                            <span class="product__ingredients">{{ product.ingredients }}</span>
                            <div class="product__buy">
                                <span class="product__price">{{ product.price }}₽</span>
                                {% if user ?? null %}
                                    <button class="product__cart-button unfilled-button" onclick="event.preventDefault(); addToCart('{{ product.name }}');">В корзину</button>
                                {% else %}
                                    <button class="product__cart-button unfilled-button" onclick="event.preventDefault(); showForm(loginFormHTML, submitLogin);">В корзину</button>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
</main>
<script src="/js/popup-form.js"></script>
<script src="/js/register.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
